@import "./var.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400&display=swap');

*{padding:0;margin: 0;box-sizing: border-box;text-decoration: none;list-style: none;font-family: 'Noto Sans KR', sans-serif;}
h1{
  font-size: 4rem;
  text-align: center;
  padding: 100px 0;
  color: #3F72AF;
}
h2{
  font-family: 'Gamja Flower', cursive;
  font-size: 28px;
  position: absolute;
  bottom: -48px;
  color:#222222;
}
h3{
  font-family: 'Gamja Flower', cursive;
  margin: 30px 0;
  text-align: center;
  font-size: 38px;
  color:$modal-main-title-color;
}
h4{
  font-family: 'Gamja Flower', cursive;
  font-size: 34px;
  margin-bottom: 20px;
  & ~ h4{
    margin-top: 30px;
  }
}
p,a{
  font-family: 'IBM Plex Sans KR', sans-serif;
}
#wrap{
  background: #F9F7F7;
  &.on{
    // background: #EFF5F5;
    background-color: rgba(0,0,0,.3);
      .items{
        .item{
          opacity: .5;
        }
      }
  }
  .items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:70px 0;
    justify-items:center;
    .item{
      cursor: pointer;
      position: relative;
      width:380px;
      height: 300px;
      border:$border-primary;
      border-radius: 7px;
    }
    .item1{
      background:url(../img/item1.jpg) no-repeat center/cover;
    }
    .item2{
      background:url(../img/item2.jpg) no-repeat center/cover;
    }
    .item3{
      background:url(../img/item3.jpg) no-repeat center/cover;
    }
    .item4{
      background:url(../img/item4.jpg) no-repeat center/cover;
    }
  }
  .modal{
    position: fixed;
    left:50%;
    top:-50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    transition: 1s;
    &.on{

      transform: translate(-50%, 75%);
    }
    .inner{
      &.toss-modal{
        background-color: $toss-primary-color;
        display: none;
        &.active{
          display: block;
        }
      }
      &.baskin-modal{
        background-color: $baskinrobins-color;
        display: none;
        &.active{
          display: block;
        }
      }
      &.lottConf-modal{
        background-color: #da291c;
        display: none;
        &.active{
          display: block;
        }
      }
      &.nexongames-modal{
        background-color: #191b1d;
        display: none;
        &.active{
          display: block;
        }
      }
      width: 100%;
      height: 100%;
      padding: 15px 15px 15px 100px;
      border-radius: 10px;
      .cancel-bar{
        cursor: pointer;
        float: right;
        text-align: right;
        font-size: 34px;;
      }
      .content{    
        position: relative; 
        display: flex;
        .left{
          width: 60%;
          .device{
            .monitor{
              background: url(../img/device/monitor/baskin-img.jpg) no-repeat 50% 13%/92%;
              // background-repeat: no-repeat;
              // background-position: 50% 13%;
              // background-size: 92%;
              position: absolute;
              img{
                // max-width: 30%;
                width: 320px;
                height: 280px;
              }
            }
            .tablet{
              background: url(../img/device/tablet/baskin-img.jpg) no-repeat 49% 47%/65%;
              position: absolute;
              top: 78px;
              left: 222px;
              img{
                // max-width: 40%;
                width: 220px;
                height: 290px;
              }
            }
            .phone{
              background: url(../img/device/phone/baskin-img.jpg) no-repeat 49% 44%/75%;;
              position: absolute;
              top: 217px;
              left: 363px;
              img{
                // max-width: 21%;
                width:120px;
                height: 200px;
              }
            }
          }
          .site-btn{
            position: absolute;
            left: 50px;
            top: 445px;
            display: flex;
            font-size: 18px;
            & > *{
              border:$border-primary;
              padding: 5px;
              a{
                display: block;
                width: 100%;
                height: 100%;
                color:$modal-btn;
              }
            }
            .this-view{
              margin-right: 50px;
            }
          }
        }
        .right{
          width: 40%;
          .tools{
            p{
              color:#666666;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width:1360px){
  #wrap{
    h1{
      font-size: 7vw;
    }
    .items{
      grid-template-columns: repeat(2,1fr);
    }
  }
}

@media all and (max-width:1024px){
  #wrap{
    .items{
      grid-template-columns: repeat(1,1fr);
    }
  }
}

@media all and (max-width:767px){
  #wrap{
    .items{
      .item{
        width:280px;
        height:200px;
      }
    }
  }
}

@media all and (max-width:480px){
  #wrpa{
    .items{
      .item{
        width:240px;
        height:160px;
      }
    }
  }
}