@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  font-size: 4rem;
  text-align: center;
  padding: 100px 0;
  color: #3F72AF;
}

h2 {
  font-family: "Gamja Flower", cursive;
  font-size: 28px;
  position: absolute;
  bottom: -48px;
  color: #222222;
}

h3 {
  font-family: "Gamja Flower", cursive;
  margin: 30px 0;
  text-align: center;
  font-size: 38px;
  color: #282828;
}

h4 {
  font-family: "Gamja Flower", cursive;
  font-size: 34px;
  margin-bottom: 20px;
}
h4 ~ h4 {
  margin-top: 30px;
}

p, a {
  font-family: "IBM Plex Sans KR", sans-serif;
}

#wrap {
  background: #F9F7F7;
}
#wrap.on {
  background-color: rgba(0, 0, 0, 0.3);
}
#wrap.on .items .item {
  opacity: 0.5;
}
#wrap .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px 0;
  justify-items: center;
}
#wrap .items .item {
  cursor: pointer;
  position: relative;
  width: 380px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
#wrap .items .item1 {
  background: url(../img/item1.jpg) no-repeat center/cover;
}
#wrap .items .item2 {
  background: url(../img/item2.jpg) no-repeat center/cover;
}
#wrap .items .item3 {
  background: url(../img/item3.jpg) no-repeat center/cover;
}
#wrap .items .item4 {
  background: url(../img/item4.jpg) no-repeat center/cover;
}
#wrap .modal {
  position: fixed;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  transition: 1s;
}
#wrap .modal.on {
  transform: translate(-50%, 75%);
}
#wrap .modal .inner {
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px 100px;
  border-radius: 10px;
}
#wrap .modal .inner.toss-modal {
  background-color: #619bed;
  display: none;
}
#wrap .modal .inner.toss-modal.active {
  display: block;
}
#wrap .modal .inner.baskin-modal {
  background-color: #ffb6c1;
  display: none;
}
#wrap .modal .inner.baskin-modal.active {
  display: block;
}
#wrap .modal .inner.lottConf-modal {
  background-color: #da291c;
  display: none;
}
#wrap .modal .inner.lottConf-modal.active {
  display: block;
}
#wrap .modal .inner.nexongames-modal {
  background-color: #191b1d;
  display: none;
}
#wrap .modal .inner.nexongames-modal.active {
  display: block;
}
#wrap .modal .inner .cancel-bar {
  cursor: pointer;
  float: right;
  text-align: right;
  font-size: 34px;
}
#wrap .modal .inner .content {
  position: relative;
  display: flex;
}
#wrap .modal .inner .content .left {
  width: 60%;
}
#wrap .modal .inner .content .left .device .monitor {
  background: url(../img/device/monitor/baskin-img.jpg) no-repeat 50% 13%/92%;
  position: absolute;
}
#wrap .modal .inner .content .left .device .monitor img {
  width: 320px;
  height: 280px;
}
#wrap .modal .inner .content .left .device .tablet {
  background: url(../img/device/tablet/baskin-img.jpg) no-repeat 49% 47%/65%;
  position: absolute;
  top: 78px;
  left: 222px;
}
#wrap .modal .inner .content .left .device .tablet img {
  width: 220px;
  height: 290px;
}
#wrap .modal .inner .content .left .device .phone {
  background: url(../img/device/phone/baskin-img.jpg) no-repeat 49% 44%/75%;
  position: absolute;
  top: 217px;
  left: 363px;
}
#wrap .modal .inner .content .left .device .phone img {
  width: 120px;
  height: 200px;
}
#wrap .modal .inner .content .left .site-btn {
  position: absolute;
  left: 50px;
  top: 445px;
  display: flex;
  font-size: 18px;
}
#wrap .modal .inner .content .left .site-btn > * {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
}
#wrap .modal .inner .content .left .site-btn > * a {
  display: block;
  width: 100%;
  height: 100%;
  color: #282828;
}
#wrap .modal .inner .content .left .site-btn .this-view {
  margin-right: 50px;
}
#wrap .modal .inner .content .right {
  width: 40%;
}
#wrap .modal .inner .content .right .tools p {
  color: #666666;
  font-size: 18px;
}

@media all and (max-width: 1360px) {
  #wrap h1 {
    font-size: 7vw;
  }
  #wrap .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 1024px) {
  #wrap .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (max-width: 767px) {
  #wrap .items .item {
    width: 280px;
    height: 200px;
  }
}
@media all and (max-width: 480px) {
  #wrpa .items .item {
    width: 240px;
    height: 160px;
  }
}